@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
  --width-df: min(1200px, 90vw);
}

.content {
  text-shadow: 0 0 80px black;
}

.image {
  flex-shrink: 0;
  width: var(--diameter);
  height: var(--diameter);
  background-position: center;
  background-size: var(--diameter) var(--diameter);
  background-image: var(--url);
  border-radius: 50%;
  position: relative;
}

.item {
  pointer-events: none;
  opacity: 0;
  transform: opacity 1s;
}

.image::before, .image::after {
  position: absolute;
  width: 70%;
  height: 70%;
  content: '';
  border-radius: 50%;
  background-image: linear-gradient(to right, #0004, #0004), var(--url);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: var(--diameter) var(--diameter);
  background-position: center;
  transition: 1s;
}
.image::after {
  width: 30%;
  height: 30%;
  background-image: var(--url);
}

/* for the item before the new active one */
/* its header will move 100% up */
.item .content h2 {
  transform: translateY(-100%);
  transition: transform 1s;
}
/* its image will rotate and blur */
.item .image {
  transform: rotate(-60deg);
  filter: blur(30px);
  transition: filter 1s;
}
/* its psuedo images will rotate out of order */
.item .image::before {
  transform: translate(-50%, -50%) rotate(-120deg);
  transition: transform 1s;
}
.item .image::after {
  transform: translate(-50%, -50%) rotate(-170deg);
  transition: transform 1s;
}


/* for the new active itme */
/* display it and allow user interactions */
.item.active {
  opacity: 1;
  pointer-events: auto;
}
/* its header will move down */
.item .content h2 {
  transform: translateY(0);
}
/* its image will rotate and unblur */
.item .image {
  transform: rotate(0);
  filter: blur(0);
}
/* its psuedo images will rotate back */
.item .image::before, .item .image::after {
  transform: translate(-50%, -50%) rotate(0);
}


/* for the item behind the active one */
.item.active ~ .item {
  opacity: 0;
}
/* its header will move down */
.item.active ~ .item .content h2 {
  transform: translateY(100%);
}
/* its image will rotate right */
.item.active ~ .item .image {
  transform: rotate(60deg);
  filter: blur(30px);
}
/* its psuedo images will rotate right */
.item.active ~ .item .image::before {
  transform: translate(-50%, -50%) rotate(120deg);
}
.item.active ~ .item .image::after {
  transform: translate(-50%, -50%) rotate(170deg);
}


#slider .list::after{
  position: absolute;
  content: '';
  bottom: 0;
  width: min(1000px, 100vw);
  height: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('/nature_bg/model.png');
  background-size: cover;
  background-position: top;
  pointer-events: none;
  animation: showModel 1s ease-in-out 1 forwards;
}

@keyframes showModel {
  from {
    transform: translateX(-50%) scale(1.3) translateY(88px);
  }
}